<!DOCTYPE html>

<html lang="en">
    <head>
        {% block head %}
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta charset="utf-8">

            {% block styles %}
                {{ bootstrap.load_css() }}
            {% endblock %}
            <title>
                {% block title %}
                    Finanzas Personales
                {% endblock %}
            </title>
        {% endblock %}
    </head>
    <body>
        <div>
            {% block navbar %}
                <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
                    <a href="/" class="navbar-brand">FP</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                            </li>
                            {% if current_user.is_active %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Cuenta
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ url_for('main.upload_movs') }}">Cargar</a>
                                    <a class="dropdown-item" href="{{ url_for('main.flow') }}">Movimientos</a>
                                    <a class="dropdown-item" href="{{ url_for('main.tag', type='flow') }}">Tag</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Tarjeta
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a class="dropdown-item" href="{{ url_for('main.upload_credit') }}">Cargar</a>
                                  <a class="dropdown-item" href="{{ url_for('main.payments') }}">Gastos</a>
                                  <a class="dropdown-item" href="{{ url_for('main.card_amount') }}">Gastos por Tarjeta</a>
                                  <a class="dropdown-item" href="{{ url_for('main.due_dates') }}">Vencimientos</a>
                                  <a class="dropdown-item" href="{{ url_for('main.tag', type='credit') }}">Tag</a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            {% if current_user.is_anonymous %}
                                <li class="nav-item">
                                    <a class="nav-link" href="register">Registrarse</a>
                                </li>
                                <li class="nav-item">    
                                    <a class="nav-link" href="{{ url_for('auth.login') }}">Ingresar</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Salir</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            <hr>
        </div>
        <main role="main" class="container">
            {% endblock %}
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block content %} {% endblock %}
        </main>
    </body>
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</html>