{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Bienvenido {{ current_user.username }} a Finanzas Personales!</h2>
        <p>Aquí podrás visualizar y controlar tus gastos de un modo más eficiente y productivo.</p>
    </div>
    <div class="col-md-4">
        <div class="content-section">
            <h3>Balance</h3>
            <p class='text-muted'>
                {% if banks%}
                Estado bancario al {{ date }}
                <ul class="list-group">
                    {% for bank in banks %}
                    <li class="list-group-item list-group-item-light">
                        <p style="display: block;"><b>{{ bank.bank }}</b></p>
                        <p style="display: inline;">{{ bank.account_n }}</p>
                        {% if last[bank.bank] > 0 %}
                        <p style="display: inline; float: right; color: green;">ARS {{ last[bank.bank] }}</p>
                        {% else %}
                        <p style="display: inline; float: right; color: red;">ARS {{ last[bank.bank] }}</p>
                        {% endif %}
                        </p>
                    </li>
                    {% endfor %}
                {% else %}
                No hay datos cargados
                {% endif %}
                </ul>
            </p>
        </div>
        <div class="content-section">
            <h3>Tarjeta</h3>
            <p class='text-muted'>
                {% if credit %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">
                        <p style="display: block;"><b>BBVA</b></p>
                        <p style="display: inline;">VISA</p>

                        <p style="display: inline; float: right;">{{ credit.close_date.date() }}</p>
                        <p style="display: inline; float: right;">{{ credit.due_date.date() }}</p>

                        <p style="display: inline; float: right; color: red;">ARS {{ '%0.2f'| format(credit.ars|float) }}</p>
                        <p style="display: inline; float: right; color: red;">USD {{ '%0.2f'| format(credit.usd|float) }}</p>
                    </li>
                {% else %}
                No hay datos cargados
                {% endif %}
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}