{% extends "base.html" %} 

{% block content %}
    <h2>Gastos</h2>
    <h5 style="margin-bottom: 20px;">Selecciones banco y período</h5>
    {% if cards %}
    <p>Tarjetas cargadas</p>
    <form method="post">
        <select name="cards">
            {% for card in cards%}
            <option name="card" value="{{ card.vendor }} {{ card.number }}">{{ card.vendor }} {{ card.number }}</option>
            {% endfor %}            
        </select>
        <button type='submit' name="button_select_card" value="select">Elegir</button>
        {% if sel_card %}
        {{ sel_card}}
        {% endif %}
    </form>
    {% else %}
    <p>No hay tarjetas cargadas</p>
    {% endif %}
    {% if dues %}
    <p>Vencimientos</p>
    <form method="post">
        <select name="dues">
            {% for due in dues%}
            <option name="due" value="{{ due.due_date.date() }}">{{ due.due_date.date() }}</option>
            {% endfor %}            
        </select>
        <button type='submit' name="button_select_date" value="select">Elegir</button>
        {% if sel_date %}
        {{ sel_date.date() }}
        {% endif %}
    </form>
    {% else %}
    <p>No hay tarjetas cargadas</p>
    {% endif %}

    {% if types %}
    <p>Conceptos</p>
    <form method="post">
        <select name="types">
            {% for type in types %}
            {% if type.type != None %}
            <option name="type" value="{{ type.type }}">{{ type.type }}</option>
            {% endif %}
            {% endfor %}            
        </select>
        <button type='submit' name="button_select_type" value="select">Elegir</button>
        {% if sel_type %}
        {{ sel_type }}
        {% endif %}
    </form>
    {% else %}
    <p>No hay tarjetas cargadas</p>
    {% endif %}

    {% if data.items %}
    <table class="table table-sm" style='margin-top: 20px;'>
        <thead>
            <tr>
                <th style="text-align: center;">Tarjeta</th>
                <th style="text-align: center;">Nro.</th>
                <th style="text-align: center;">Banco</th>

                <th style="text-align: center;">Consumo</th>
                <th style="text-align: center;">Acreedor</th>
                <th>Cuota</th>
                <th>Moneda</th>
                <th style="text-align: center;">Pago</th>
                {% if dues %}
                <th><input type="checkbox" onclick="selects_type()" id="check_all_types" name="check_all_types" value="all"></th>
                {% endif %}
                <th style="text-align: center;">Concepto</th>
                <th style="text-align: center;">Vencimiento</th>

            </tr>
        </thead>
        <form method="POST" id="select_items" novalidate>
            <tbody>
            {% for row in data.items %}
                <tr>
                    {% if row.transactions.vendor %}
                    <td>{{ row.transactions.vendor }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}

                    <td>{{ row.card_number }}</td>

                    {% if row.transactions.bank %}
                    <td>{{ row.transactions.bank }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
    
                    <td>{{ row.timestamp.date() }}</td>

                    <td>{{ row.transaction }}</td>

                    {% if row.share  %}
                    <td>{{ row.share }}</td>
                    {% else %}
                    <td>Única</td>
                    {% endif %}

                    <td>{{ row.currency }}</td>
                    <td style="text-align: center;">{{ row.purchase }}</td>

                    <td><input type="checkbox" id="item_{{ loop.index }}" name="chk_type" value="{{ row.id }}"></td>
                    {% if row.type  %}
                    <td>{{ row.type }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}

                    {% if row.credit.due_date  %}
                    <td>{{ row.credit.due_date.date() }}</td>
                    {% else %}
                    <td>-</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </form>
    </table>

    {% for page_num in data.iter_pages(left_edge = 1, right_edge=1, left_current=1, right_current=2 ) %}
    {% if page_num %}
        {% if page_num == data.page %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.card_amount', page=page_num )}}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.card_amount', page=page_num )}}">{{ page_num }}</a>
        {% endif %}    
    {% else %}
    ...
    {% endif %}
    {% endfor %}

    <button type="submit" value="items" form="select_items" name='items_selected'>Aplicar</button>
    {% else %}
    <p>No hay consumos de tarjeta cargados</p>
    
    {% endif %}


    <script type="text/javascript">
        function selects_type() {
            var checkBox = document.getElementById("check_all_types");
            var box = document.getElementsByName('chk_type');

            if (checkBox.checked == true){
                for(var i=0; i<box.length; i++){  
                    if(box[i].type=='checkbox')  
                        box[i].checked=true;  
                }                
            } else {
                for(var i=0; i<box.length; i++){  
                    if(box[i].type=='checkbox')  
                        box[i].checked=false;  
                } 
            }
        }  
    </script>  

{% endblock %}