{% extends "base.html" %} 

{% block content %}
    <h2>Pagos</h2>
    <h5 style="margin-bottom: 20px;">Selecciones banco y período</h5>
    {% if banks %}
    <div class="col-8">
        <form action="" method="post">
            <select class="custom-select col-3 mb-4" name="bank" required>
                <option disabled selected value="">Banco</option>
                    {% for bank in banks %}
                        <option value="{{ bank.bank }}">{{ bank.bank }}</option>
                    {% endfor %}
            </select>
            <button class="btn btn-outline-secondary mb-4" type="submit" value="Select">Seleccionar</button>
            {% if bank %}
            <span class="btn mb-4">{{ bank }}</span>
            {% endif %}
        </form>
        <form action="" method="post">
            <select class="custom-select col-3 mb-4" name="start_date" required>
                <option disabled selected value="">Inicio</option>
                {% if s_dates %}
                    {% for date in s_dates %}
                        <option value="{{ date.timestamp.date() }}">{{ date.timestamp.date() }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-outline-secondary mb-4" type="submit" value="Select">Seleccionar</button>
            {% if start_date %}
            <span class="btn mb-4">{{ start_date }}</span>
            {% endif %}
        </form>
        <form action="" method="post">
            <select class="custom-select col-3 mb-4" name="end_date" required>
                <option disabled selected value="">Final</option>
                {% if e_dates %}
                    {% for date in e_dates %}
                        <option value="{{ date.timestamp.date() }}">{{ date.timestamp.date() }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-outline-secondary mb-4" type="submit" value="Select">Seleccionar</button>
            {% if end_date %}
            <span class="btn mb-4">{{ end_date }}</span>
            {% endif %}
        </form>
        <form action="" method="post">
            <select class="custom-select col-3 mb-4" name="type" required>
                <option disabled selected value="">Tipo</option>
                {% if tag_list %}
                    {% for tag in tag_list %}
                        <option value="{{ tag.tag }}">{{ tag.tag }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button class="btn btn-outline-secondary mb-4" type="submit" value="Select">Seleccionar</button>
            {% if selected_tag %}
            <span class="btn mb-4">{{ selected_tag }}</span>
            {% endif %}
        </form>
    </div>
    {% else %}
    <p>No hay datos cargados</p>
    {% endif %}
    {% if data %}
    <table class="table table-sm" style='margin-top: 20px;'>
        <thead>
            <tr>
                <th style="text-align: center;">Fecha</th>
                <th style="text-align: center;">Acreedor</th>
                <th>Cuota</th>
                <th>Importe en ARS</th>
                <th style="text-align: center;">Importe en ARS</th>
                <th style="text-align: center;">Tag</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data.items %}
            <tr>
                <td>{{ row.timestamp.date() }}</td>
                <td>{{ row.creditor }}</td>
                {% if row.share  %}
                <td>{{ row.share }}</td>
                {% else %}
                <td>Única</td>
                {% endif %}
                <td>{{ row.ars }}</td>
                <td style="text-align: center;">{{ row.usd }}</td>
                {% if row.tag  %}
                <td>{{ row.tag }}</td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for page_num in data.iter_pages(left_edge = 1, right_edge=1, left_current=1, right_current=2 ) %}
    {% if page_num %}
        {% if page_num == data.page %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.payments', page=page_num )}}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.payments', page=page_num )}}">{{ page_num }}</a>
        {% endif %}    
    {% else %}
    ...
    {% endif %}
    {% endfor %}


    {% endif %}

{% endblock %}