{% extends "base.html" %} 

{% block content %}
  <h2>Cargar resumenes de cuenta</h2>
  <div class="col-8">
    <p><b>{{ count }}</b> registros almacenados</p>
    <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <small>Compatibilidad (v.1. beta) con BBVA</small>
      <p>
        {{ form.file(class="btn btn-outline-secondary mb-4") }}
        {{ form.upload(class="btn btn-outline-secondary mb-4") }}

        {% for error in form.file.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </p>
    </form>
  </div>
  <div class="col-4">
    <p>Cargar Tarjeta</p>
    <form action="" method="post">
      {{ form_card.csrf_token }}
      <p>
        {{ form_card.card.label }}
        {{ form_card.card }}
        {{ form_card.card_number.label }}
        {{ form_card.card_number }}
        {{ form_card.expiration.label }}
        {{ form_card.expiration }}
        {% for fieldName, errorMessages in form_card.errors.items() %}
          <span style="color: red;">{{ errorMessages[0] }}</span>
        {% endfor %}
      </p>

      <button type="submit" name="card_button" value="card">Cargar</button>
    </form>
  </div>

  {% if cards %}
  {% for card in cards %}
    {{ card.card }}
    {{ card.card_number }}
    {{ card.expiration.date() }}
  {% endfor %}
  {% endif %}

  {% if data %}
  <table class="table table-sm" style='margin-top: 20px;'>
      <thead>
          <tr>
              <th style="text-align: center;">Banco</th>
              <th style="text-align: center;">Consumo</th>
              <th style="text-align: center;">Acreedor</th>
              <th>Cuota</th>
              <th>ARS</th>
              <th>USD</th>
              <th>Cierre</th>
          </tr>
      </thead>
      <tbody>
      {% for row in data[::-1] %}
          <tr>
              <td style="text-align: center;">{{ row[0] }}</td>
              <td style="text-align: center;">{{ row[1] }}</td>
              <td style="text-align: center;">{{ row[2] }}</td>
              <td>{{ row[3] }}</td>
              <td>{{ row[4] }}</td>
              <td>{{ row[5] }}</td>
              <td>{{ row[6].date() }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
  {% endif %}
{% endblock %}